:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}
.todoheader{
    width: 90%;
    margin: 25px auto;
    
    .header{
        background-color:  var(--grey);
        color: rgb(255, 255, 255);
        border: 1px solid var(--darkest);
        border-radius: 25px;
        text-align: center;
        padding: 10px;

        h1{
            font-size: 50px;
            padding: 10px;
            text-transform: uppercase;
        }
        &__function{
            display: flex;
            justify-content: space-around;
            .function__show{
                input{

                }
            }
            .function__add{
                button{

	                cursor: pointer;
	                transition: 0.4s;
                    &:hover{

                    }
                }
            }
            
        }
        
    }
}
@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style : normal;
    src : url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot");
    src : url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot") format("embedded-opentype"),
         url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2") format("woff2"),
         url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff") format("woff"),
         url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf") format("truetype"),
         url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg") format("svg");
}
select {
    font-family: FontAwesome;
}
/* Tablet and Mobile */
@media only screen and (max-width : 1023px){

}
/* Mobile */
@media only screen and (max-width : 739px) {
    .todoheader{
        padding: 0px;
        
            .todolist__tag{
                width: 100%;
                display: flex;
                justify-content: space-around;
                .tag__name{
                    text-align: center;
                }
                .tag__status{
                    margin-left: 0%;
                }
                .tag__priority{
                    margin-left: 0%;
                }
                .tag__deadline{
                    margin-left:0%;
                }
        
            }
        }

}

/* Tablet */
@media only screen and (min-width : 740px) and (max-width : 1024px) {
.todoheader{
    padding: 0px;
        .list{

            .todolist__tag{
                width: 65%;
                .tag__name{
                    text-align: center;
                }
                .tag__status{
                    margin-left: 0%;
                }
                .tag__priority{
                    margin-left: 0%;
                }
                .tag__deadline{
                    margin-left:0%;
                }
        
            }
        }
    }
}

@media only screen and (min-height : 1200px){

}


/* PC */
@media only screen and (min-width : 1024px) {
    
}